<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h3>Quem Somos?</h3>
      </div>
      <div class="description text-justify">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero massa, facilisis sit amet porttitor sodales, egestas quis massa. Cras bibendum eros in pellentesque sodales. Pellentesque venenatis, tortor vel cursus ornare, ligula eros vestibulum diam, in tempor ante odio at sapien. Morbi ultrices, mi ac molestie venenatis, dolor lorem dictum sapien, in rhoncus sapien libero ac lorem. In id magna hendrerit, rutrum ipsum in, cursus lacus. Curabitur egestas condimentum ullamcorper.
        </p>
      </div>
    </div>
  </div><!--row about -->
  <!-- missao -->
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="title">
        <h4>Missão</h4>
      </div>
      <div class="description">
        <p>
          Gerenciar de forma responsável a proteção do patrimônio de nossos segurados.
        </p>
      </div>
    </div>
  </div><!--row missao -->
  <!-- visao -->
  <div class="row text-center">
    <div class="col-xs-12">
      <div class="title">
        <h4>Visão</h4>
      </div>
      <div class="description">
        <p>
          Estar entre umas das maiores corretoras de seguro do Rio Grande do Sul até 2027.
        </p>
      </div>
    </div>
  </div><!--row visao -->
  <!-- valores -->
  <div class="row">
    <div class="col-xs-12">
      <div class="title text-center">
        <h4>Valores</h4>
      </div>
      <div class="description col-xs-offset-2">
        <ul>
          <li>Relacionamento transparente e responsável com nossos clientes e funcionários é o nosso diferencial.</li>
          <li>Compromisso e ética são levados a sério.</li>
          <li>Seguro bom é seguro bem feito.</li>
          <li>Gerenciar é conhecer nossos clientes e propor a proteção ideal para todo seu patrimônio.</li>
        </ul>
      </div>
    </div>
  </div><!--row valores -->
</div><!-- container -->
