<div class="menu-xs visible-xs">
  <div class="nav nav-bar navbar-fixed-bottom ">
    <div class="menu-contact">
      <div class="hidden-sm" style="display: inline-block;">
        <a href="tel:5139395000"> <span class="ca ca-phone"></span> </a>
      </div>
      <a href="mailto:gseg@gsegcorretora.com.br"><span class="ca ca-mail"></span> </a>
      <a href="tel:51 9991971979"><span class="ca ca-whats"></span> </a>
      <a href="https://www.facebook.com/Gsegcorretoradeseguro/" target="_new"><span class="ca ca-face"></span></a>
    </div>
  </div>
</div>
