<div class="navbar navbar-blue navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="assets/img/logo.png" alt="Bootstrap to Wordpress"></a>
    </div>
    <div class="menu-contact hidden-xs">
      <div class="hidden-sm" style="display: inline-block;">
        <span class="ca ca-phone"></span> <a href="tel:5139395000">51 3939.5000</a>
      </div>
      <span class="ca ca-mail"></span> <a href="mailto:gseg@gsegcorretora.com.br">gseg@gsegcorretora.com.br</a>
      <span class="ca ca-whats"></span> <a href="tel:51 9991971979">51 999197.1979</a>
      <span class="ca ca-face"></span> <a href="https://www.facebook.com/Gsegcorretoradeseguro/" target="_new">/Gsegcorretoradeseguro</a>
    </div>
  </div> <!-- container -->
  <div class="container-fluid submenu">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#hero">Home</a></li>
        <li><a href="#servico">Serviços</a></li>
        <li><a href="#seguradoras">Seguradoras</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
  </div><!-- Sub menu -->
</div>
