<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <a class="btn btn-transparent">
        <span class="seg seg-AIG" title="AIG"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Allianz" title="Allianz"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Azul" title="Azul"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Bradesco" title="Bradesco"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-HDI" title="HDI"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Itau" title="Itaú"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Liberty" title="Liberty"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Mapfre" title="Mapfre"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-Mitsui" title="Mitsui"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-PortoSeg" title="Porto"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-SulAmerica" title="SulAmérica"></span>
      </a>
      <a class="btn btn-transparent">
        <span class="seg seg-TokioMarine" title="Tokio Marine"></span>
      </a>
    </div>
  </div> <!--row-->
</div><!-- container-->
