<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Seguro auto e muito mais!</h3>
    </div>
    <div class="col-lg-12 text-center">
      <a class="btn btn-transparent">
        <span class="se se-car"></span>
        <h3 class="subTitle">Carro</h3>
      </a>
      <a class="btn btn-transparent">
        <span class="se se-house"></span>
        <h3 class="subTitle">Casa</h3>
      </a>
      <a class="btn btn-transparent">
        <span class="se se-life"></span>
        <h3 class="subTitle">Vida</h3>
      </a>
      <a class="btn btn-transparent">
        <span class="se se-business"></span>
        <h3 class="subTitle" style="margin-left: -10px;">Empresa</h3>
      </a>
      <a class="btn btn-transparent">
        <span class="se se-others"></span>
        <h3 class="subTitle">Outros</h3>
      </a>
    </div><!-- fim dos serviços -->
  </div><!--row-->
</div><!-- container-->
